.header {
    margin-top: 80px;
    margin-left: 52px;
    


}
.title1 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #282828;
}
.title2 {
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    text-align: center;
    color: #282828;
    margin-top: 4px;
}
.paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #5F6980; 
    margin-top: 16px;  
    

}
.section {
    
    display: flex;
    flex-flow: row wrap;
    width: 1336px;
    margin-top: 48px;
    margin-left: 159px;
    margin-right: 52px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
    

}

.child-element {
    width: 310px;
    height: 230px;
}
.text-box {
    width: 278px;
    height: 108px;
}
.name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #282828;
    font-weight: 600px;

}

.professio {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #3E3E59;
}

.section-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #5F6980;
}
.icon-box {
    width: 140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.facebook {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color:  #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.instagram {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color:  #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color:  #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: #535353;
    width: 1654px;
    height: 512px;
    margin-top: 48px;
    margin-left: 107px;
}