.header {
    margin-top: 80px;
    margin-left: 52px;
    


}
.title1 {
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #282828;
}
.title2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    color: #282828;
    margin-top: 4px;
}
.paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #5F6980; 
    margin-top: 16px;  
    

}
.section-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.section {
    
    display: flex;
    flex-wrap: wrap;
    width: 1336px;
    margin-top: 48px;
    margin-left: 159px;
    margin-right: 52px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
    

}
.elements {
    width: 310px;
    height: 430px;
}

.child-element {
    width: 310px;
    height: 230px;
}
.text-box {
    width: 278px;
    height: 108px;
}
.name {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #282828;
    font-weight: 600px;

}

.profession {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #3E3E59;
    margin-top: 4px;
}

.section-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #5F6980;
    margin-top: 8px;
}
.icon-box {
    width: 140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.facebook {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color:  #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.instagram {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color:  #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color:  #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
}
.footer {
    
    background-color: rgba(83, 83, 83, 0.33);
    width: 1654px;
    height: 512px;
    margin-top: 48px;
    margin-left: 107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

    

.footer-main {
    width: 1306px;
    height: 512px;
    padding-top: 108px;
    padding-bottom: 181px;
    
    padding-right: 184px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
}
.logo {
    width: 318.05px;
    height: 221px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
}
.image {
    width: 100px;
    height: 64px;
}
.footer-paragraph {
    width: 306.05px;
    height: 73px;
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #535353;
}
.footer-icon {
    width: 104px;
    height: 24px;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

}
.footer-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-weight: 600px;
    color: #1E1E1E;
}
.navigation {

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #535353;
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.website-links {
    width: 136px;
    height: 223px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    

}
.li-item {
    margin-top: 30px;
    
}
.service-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1E;
}
.service-a-item {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #535353;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.services {
    width: 199px;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.languages {
    width: 107px;
    height: 127.45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.footer-language {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1E;
}
.English {
    
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.footer-english {
    width: 80px;
    height: 45px;
    margin-top: 58.45px;
    background-color: #054A68;
    display: flex;
    justify-content: center;
    align-content: center;
}